<h1>Admin</h1>

  <h2>Convert a YAML report</h2>
  <form action='/dataminer/admin/convert/' method=post enctype='multipart/form-data' class="crossbeams-form">
  <%= csrf_tag %>
  Old YAML file: <input name='file' type='file' accept='.yml' required /> <input type='submit' value="Convert"" class="pure-button pure-button-primary" />
  </form>

  <h2>Create a new report</h2>
<p>
  <a href="/dataminer/admin/new/" >Create new</a>
</p>

  <h2>Edit a report</h2>
<ol>
  <% @page.report_list.each do |report| %>
    <li><a href='/dataminer/admin/<%=report[:id] %>/edit/'>edit</a> <%= report[:caption] %></li>
  <% end %>
</ol>
